graphs/TOPSARSplit - Copy.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="graph">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:decimal" />
        <xs:element maxOccurs="unbounded" name="node">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="operator" type="xs:string" />
              <xs:element name="sources">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="sourceProduct">
                      <xs:complexType>
                        <xs:attribute name="refid" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="subswath" type="xs:string" />
                    <xs:element minOccurs="0" name="selectedPolarisations" type="xs:string" />
                    <xs:element minOccurs="0" name="firstBurstIndex" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="lastBurstIndex" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="wktAoi" />
                    <xs:element minOccurs="0" name="file" type="xs:string" />
                    <xs:element minOccurs="0" name="formatName" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="class" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="applicationData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" />
              <xs:element maxOccurs="unbounded" name="node">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="displayPosition">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:decimal" use="required" />
                        <xs:attribute name="y" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>